@import "tailwindcss";
@import "react-day-picker/style.module.css";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
  logs: true;
}

.rdp-range_middle {
  /* background-color: --color-primary; */
  color: var(--color-primary);
}